name: Semantic Release

on:
  push:
    branches:
      - release

jobs:
  release:
    runs-on: ubuntu-latest
    environment: tests
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Python Semantic Release
        uses: python-semantic-release/python-semantic-release@v10.5.2
        with:
          github_token: ${{ secrets.GH_TOKEN }}
