name: Semantic Release

on:
  push:
    branches:
      - release

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
      packages: write
      deployments: write
      statuses: write
      checks: write
      security-events: write
      actions: write
      id-token: write
      pages: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install deps
        run: |
          uv sync --locked --group ci

      - name: Python Semantic Release
        uses: python-semantic-release/python-semantic-release@v10.5.2
        with:
          github_token: ${{ secrets.PR_TOKEN }}
